/* 
 *  This file is used by all documents inside the "help" folder
 *
 *  author: Jay Patel (A00433907)
 *  author: Justin Gray (A00426753)
 *  author: Vitor Jeronimo (A00431599)
 */

/* Defines the style of basics elements of the page */
body {
    background-color: #b9d3ec;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8rem;
}